.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  justify-content: center;
  height: 100vh;
}

.register h2 {
  font-size: 32px;
  font-weight: 500;
}

.register__register-title {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #707070;
  padding: 0;
  margin: 5px 0;
}

.register__secondary-title {
  color: grey;
  font-size: 14px;
  margin: 5px;
}

.form-control,
.formAction {
  width: 300px;

}

.form-control>input {
  width: 100%;
  height: 12px;
  margin: 8px 0px;
  background: transparent;
  outline: none;
  border: none;
  padding: 4px;
}


.form-control {
  /* box-sizing: border-box; */
  padding: 5px 0px;
  margin: 5px 5px;
  border-bottom: 1px solid #0071c2;
}

.register__form-validator {
  font-size: 12px;
  color: #707070;
}
.formAction {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button {
  margin: 12px 0;
}

.formAction>button {
  width: 300px;
  padding: 10px 0px;
  border-radius: 3px;
  color: white;
  border: none;
  background-color: #0071c2;
  font-size: 16px;
}